db.sqlite3

mybb/admin
mybb/archive
mybb/cache
mybb/images
mybb/install
mybb/jscripts
mybb/uploads
mybb/*.php
mybb/*.txt

mybb/inc/3rdparty
mybb/inc/cachehandlers
mybb/inc/captcha_fonts
mybb/inc/datahandlers
mybb/inc/languages
mybb/inc/mailhandlers
mybb/inc/tasks
mybb/inc/*.php
mybb/inc/index.html

mybb/inc/plugins/hello.php
mybb/inc/plugins/index.html